.tm-container-content {
    min-height: 75vh;
    margin: 60px 60px 0px 60px;
    margin-top: 40px;
}

h2 p {
    font-size: 9px;
    margin: 0;
    padding: 0;
}

.tm-gallery {
    display: flex;
    overflow-y: scroll;
    max-height: 64vh;
}
